@font-face {
    font-family: "Reckless";
    src: url('./fonts/RecklessNeue-Thin.woff2') format('woff2'),
         url('./fonts/RecklessNeue-Thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
    --font-size: clamp(0.2rem, 1vw, 1rem);
}

html, body, button {
    font-family: "Reckless", Garamond;
}

button,
input {
  appearance: none;
}

.container {
  display: flex;
}

.main-image {
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
}

.image-wrapper {
  position: relative;
  height: fit-content;
}

.credit {
  position: absolute;
  bottom: 1px;
  left: calc(10% + 10px);
  right: calc(10% + 10px);
  color: whitesmoke;
  font-size: var(--font-size);
  font-weight: bolder;
  text-align: center;
}
.credit > a {
  color: whitesmoke;
}

.side-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.first-section,
.second-section,
.third-section {
  display: flex;
  flex: 1;
}

.first-section {
  justify-content: center;
  align-items: center;
  background-color: #f0f8ffce;
}

.logo {
  position: absolute;
  background-color: rgb(18, 18, 19);
  width: 100%;
  top: 5rem;
  text-align: center;
  opacity: 0.3;
  height: 10%;
}

.logo img {
  height: 100%;
}

.input-wrapper {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  padding: 20px;
  border-radius: 5px;
  gap: 1rem;
}

.input-wrapper > div {
  width: 30%;
  margin: 0 25px;
  font-size: var(--font-size);
}

input {
  width: 100%;
  padding: 3px;
  border-radius: 2.5px;
  font-size: var(--font-size);
  border: 1px solid #e5e7eb;
}

h1 {
  margin-left: 35px;
  padding: 10px;
  font-size: clamp(0.4em, 1.4em, 1.5em)
}

input:focus {
  outline: #add8e6 1px solid;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.94);
}

.third-section {
  background-color: #f0f8ffce;
  padding: 20px 45px;
}

.second-section {
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border: 1px solid #f0f8ffce;
}

button {
  border: 0.1em solid #ffffff;
  border-radius: 5px;
  font-size: var(--font-size);
  font-weight: bold;
  padding: 0.9em 4em;
  width: fit-content;
  height: fit-content;
  text-decoration: none;
  text-wrap: wrap;
  color: #222B2E;
  background-color: #add8e6;
  text-align: center;
  transition: all 0.2s;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

button:hover {
  color: #000000;
  background-color: #ade6d8;
  border-radius: 5px;
}

input:focus:invalid {
  outline: 1px solid red;
}

input:focus:valid {
  outline: 1px solid green;
}

.password-div {
  position: relative;
}

input[type="password"]:focus:invalid + span::before {
  white-space: pre;
  content: "Please enter a password with the following: \00000a *Must contain between 8-16 characters \00000a *Must contain one Uppercase letter \00000a *Must contain one lowerCase letter \00000a *Must contain one number \00000a *Must contain one special character";
  font-size: var(--font-size);
  position: absolute;
  left: calc(100% + 10px);
  background-color: rgb(18, 18, 19);
  padding: 10px;
  border-radius: 5px;
  opacity: 0.5;
  color: whitesmoke;
  font-weight: bolder;
}

.text-section {
    width: 100%;
}

.text-section > p {
  margin: auto 45px;
  font-size: clamp(0.5em, 1.3em, 1.7em);
  line-height: 1.5em;
}

.third-section {
    flex-direction: column;
    gap: 16px;
    font-size:var(--font-size);
}

.third-section a {
    text-decoration: none;
    color: #4c889c;
    font-weight: bold;
}

.text-section > p:nth-child(3) {
    margin-top: 1em;
}